matplotlib==3.3.4
numpy==1.19.2
pandas==1.2.4
scikit_learn==1.0.2
seaborn==0.11.1
shap==0.40.0
tensorflow==2.5.0
tqdm==4.59.0
opencv-python
keras_nightly==2.5.0.dev2021032900
six==1.15.0
typing-extensions==3.7.4.3
